body { 
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f5f5f5;
    color: #000;
}

h1 {
    font-size: 36px;
    /* Avstånd över och under stycket*/
    margin-top: 5px;
    margin-bottom: 5px;
}

p { margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px; 
}

select,
input,
textarea,
fieldset {
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 35%;
    max-width: 500px;
    padding: 5px;
    border: 1px solid #999;
    box-sizing: border-box;
}

select {
    padding: 3px;
    width: 25%;
    max-width: 500px;
    font-family: "Roboto", Arial, sans-serif;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 10px;
    max-width: 500px;
}

legend {
    font-weight: bold;
    padding: 0 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea.box {
    height: 120px;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: white;
    font-family: "Roboto", Arial, sans-serif;
}

.buttons {
    margin-top: 15px;
}

.buttons input {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    font-family: "Roboto", Arial, sans-serif;
}

.buttons input[type="submit"]:hover,
.buttons input[type="reset"]:hover {
    background-color: #726a6a42;
}

@media (max-width: 600px) {
    body {
        margin: 20px;
    }
    h1 {
        font-size: 24px;
    }
    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
    }
}

@media (min-width: 300px) {
    body {
        margin: 80px;
    }

    input[type="text"],
    textarea.box {
        max-width: 500px;
    } 
}

form {
    background-color: white;
    padding: 25px;
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
